#app{
  min-height: 100vh;
  position: relative;
}
#app:before{
  content: '';
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: absolute;
  background-image: url('./images/checker-board.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
  top: 0;
  left: 0;
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {

}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {

}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
  
}
