.ui{
    min-height: 100vh;
}
  
#left_menu, #right_menu{
  color: white;
  height: 100vh;
  min-height: 600px;
  padding-top: 15px;
  border: 1px solid gray;
  background: linear-gradient(#0a0a0a 65%, #8DA7FE)
}
#left_menu{
  text-align: center;
}
#right_menu{
  text-align: center;
  overflow-y: scroll;
}
.player1Text{
  display: inline-block;
  color: #ff3333;
}
.player2Text{
  display: inline-block;
  color: cyan;
}
.gameStatus, .historyText{
  font-size: 16px;
  text-align: center;
}
.piecesLeftHeader, .piecesLeft{
  font-size: 16px;
}
.piecesLeft span{
  border-radius: 20px;
  background-color: #4a4949;
  padding: 0px 12px;
  margin-bottom: 10px;
  border: 1px solid darkslateblue;
}
.historyBtn{
  margin-top: 5px;
  margin-bottom: 5px;
}
hr{
  background-color: white;
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {

}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  .gameStatus, .historyText{
    font-size: 25px;
  }
  .piecesLeftHeader, .piecesLeft{
    font-size: 19px;
  }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
  
}